body {
	text-align: center;
	color: yellow;
    background-image: url("../Fotos/fundo.jpg");
    /*background-repeat: fixed;*/
    background-attachment: scroll;
    background-attachment: fixed;
    background-repeat: no-repeat;	
    background-position: center center;
	}
a:link {
    color: #FFFF80;
}
a:visited {
    color: white;
}
a:hover {
    color: red;
    font-style: italic;
}
